<div class="loginPage" flex layout="column">
    <div flex layout="column" layout-align="center center">
        <div class="text-center">
            <img src="images/aeon.png" /><br/>
            <h3 style="color: #fff;">An AEON Web Wallet</h3>
            <a href="#!/login" class="action-button">Login</a>
            <a href="#!/register" class="action-button">Create an Account</a>
        </div>
    </div>
    <div class="footer text-center">
        &copy; AEON Pocket, 2017<br/>
        <a href="">Disclaimer</a> | <a href="">Privacy</a>
    </div>
</div>