<div class="loginPage" flex layout="row" layout-align="center center">

    <!--Login Form-->
    <form name="loginForm" ng-submit="login()">

        <h1 class="text-center" style="color: #fff;">Aeon Pocket</h1>
        <md-card class="loginBox">
            <!--<md-icon class="logo md-whiteframe-1dp" md-svg-src="images/logo.svg"></md-icon>-->

            <!--Username Input Field-->
            <md-input-container>
                <label>Your Private Login Key</label>
                <textarea required rows="5" ng-disabled="inProgress" name="seed" ng-model="data.seed"></textarea>
                <div class="validation-messages" ng-messages="loginForm.seed.$error">
                    <div ng-message="required" ng-show="loginForm.seed.$error.required">Required</div>
                    <div ng-message="validation" ng-show="loginForm.seed.$error.validation">{{errorMessage}}</div>
                </div>
            </md-input-container>

            <!--Submit Button-->
            <md-button ng-disabled="inProgress" class="md-primary md-raised" type="submimt">Login</md-button><br/>

            <div class="text-center">
                <a href="#/register">Don't have an account? Register Here.</a>
            </div>

        </md-card>
    </form>
</div>