<div class="loginPage" flex layout="column">
    <md-toolbar layout="row" layout-align="start center">
        <a href="#!/home">Home</a>
        <div flex></div>
        <a href="#!/support">Support</a>
    </md-toolbar>
    <div flex layout="column" layout-align="center center">
        <h1 class="text-center" style="color: #fff;">
            <img src="images/aeon_pocket_logo.png" style="max-height: 64px; vertical-align: middle;" />
            AEON Pocket
        </h1>
        <md-card class="loginBox" ng-show="step==0" style="overflow-y: auto;">
            <div layout-gt-sm="row" >
                <div flex layout="row" ng-click="createNewWallet()">
                    <md-button ng-disabled="inProgress" flex class="hero-button md-raised">
                        <i class="material-icons large-icon">account_balance_wallet</i><br/>
                        Create New Wallet
                    </md-button>
                </div>
                <div flex layout="row">
                    <md-button ng-disabled="inProgress" flex class="hero-button md-raised" ng-click="step=1">
                        <i class="material-icons large-icon">backup</i><br/>
                        Use Existing Seed
                    </md-button>
                </div>
            </div>
        </md-card>

        <md-card class="loginBox" ng-show="step==1" style="overflow-y: auto;">
            <form name="loginForm" layout="column" ng-submit="register()">
                <div layout="column">
                    <md-input-container>
                        <label>Your Private Login Key</label>
                        <textarea required rows="5" ng-disabled="inProgress" name="seed" ng-model="data.seed"></textarea>
                        <div class="validation-messages" ng-messages="loginForm.seed.$error">
                            <div ng-message="required" ng-show="loginForm.seed.$error.required">Required</div>
                            <div ng-message="validation" ng-show="loginForm.seed.$error.validation">{{errorMessage}}</div>
                        </div>
                    </md-input-container>
                    <div>
                        By using our service you agree to our <a href="#!/terms">terms of service.</a><br/>
                    </div>
                    <md-button ng-disabled="inProgress" class="md-primary md-raised" type="submit">Register</md-button><br/>

                    <div class="text-center">
                        <a href="#!/login">Already registered? Login Here.</a>
                    </div>
                </div>
            </form>
        </md-card>

        <md-card class="loginBox" ng-show="step==2" style="overflow-y: auto;">
            <div layout-gt-sm="column" >
                <div class="text-center">
                    <strong>Your private login key:</strong><br/>
                    {{seed}}<br/><br/>
                    <p class="help-text">
                        <strong>Note:</strong> Please save the above key in some place safe and accessible only by you.
                        You will be using this to login on our website. This can also be used on any other AEON wallet too.
                        As we don't store your private login key on the server there is no way to recover it if it is lost!
                        Your private login key can also never be changed, and if it is stolen or otherwise compromised,
                        you will have to move your funds to a new account with a new private login key. Therefore, it is
                        best that you backup your private login key by writing it down, perhaps obscuring it as part of a
                        poem or letter, and storing it in multiple safe and secure places.
                    </p>
                </div>
                <hr/>
                <div class="text-center">
                    <strong>Confirm your private login key:</strong><br/>
                    <md-input-container style="width: 100%; text-align: left;">
                        <label>Type your private login key to confirm</label>
                        <textarea rows="5" ng-model="confirm.seed"></textarea>
                    </md-input-container>
                    <div>
                        By using our service you agree to our <a href="#!/terms">terms of service.</a><br/>
                    </div>
                    <md-button class="md-raised md-primary" ng-click="confirmSeed()">Confirm my Private login key</md-button>
                </div>
            </div>
        </md-card>
    </div>
    <div class="footer" layout="row">
        <div flex>&copy; AEON Pocket, 2017</div>
        <div>
            <a href="#!/terms">Terms of Service</a>
            <a href="#!/privacy">Privacy Policy</a>
        </div>
    </div>
</div>