<div class="loginPage" flex layout="column">
    <md-toolbar layout="row" layout-align="start center">
        <a href="#!/home">Home</a>
        <div flex></div>
    </md-toolbar>
    <div flex layout="column" style="overflow-y: auto;">
        <md-card class="container">
            <h3>Support</h3>
            <div>
                Facing some problem with AEON Pocket or have some feedback? You can contact us on:<br/>
                <div layout-align="center center" layout="row" layout-wrap>
                    <a href="https://www.reddit.com/user/aeonpocket" target="_blank">
                        <md-button>
                            <md-icon class="supportIcon" md-svg-src="images/reddit_icon.svg"></md-icon><br/>
                            Reddit
                        </md-button>
                    </a>
                    <a href="https://twitter.com/aeonpocket" target="_blank">
                        <md-button>
                            <md-icon class="supportIcon" md-svg-src="images/twitter_Bird.svg"></md-icon><br/>
                            Twitter
                        </md-button>
                    </a>
                    <a href="https://github.com/AeonPocket" target="_blank">
                        <md-button>
                            <md-icon class="supportIcon" md-svg-src="images/github_icon.svg"></md-icon><br/>
                            Github
                        </md-button>
                    </a>
                    <a href="mailto:aeonpocket@protonmail.ch">
                        <md-button>
                            <md-icon class="supportIcon">
                                <i class="material-icons" style="font-size: 72px;">mail</i>
                            </md-icon><br/>
                            Mail
                        </md-button>
                    </a>
                </div>
            </div>
        </md-card>

        <md-card class="container">
            <h3>Who are we and how is AEON Pocket funded?</h3>
            <div style="text-align: justify;">
                We are developers and work in our spare time on various open source projects to widen our
                knowledge. AEON Pocket is one of these adventures we embarked on. Currently we are funding it
                ourselves and all services provided on AEON Pocket is currently free. Fee charged during transaction
                is miner's fee. To know more about us you can visit
                <a href="https://github.com/orgs/AeonPocket/people" target="_blank">our team page on github.</a>
            </div>
        </md-card>

        <md-card class="container">
            <h3>Like what we do? Consider contributing.</h3>
            <div>
                You can help us out in following ways:<br/>
                <ol>
                    <li>
                        <strong>Share on social media</strong><br/>
                        <a href="https://twitter.com/share?url=https%3A%2F%2Faeonpocket.com&hashtags=AeonPocket%2CWebWallet%2cSecure&text=Checkout AEON Pocket, a secure web wallet for AEON."
                            target="_blank">
                            Tweet about us
                        </a> or
                        <a href="https://www.facebook.com/dialog/share?app_id=534094333639917&display=popup&href=https%3A%2F%2Faeonpocket.com&redirect_uri=https%3A%2F%2Faeonpocket.com&quote=Checkout AEON Pocket, a secure web wallet for AEON.&display=popup&hashtag=%23AeonPocket"
                           target="_blank">
                            Post on Facebook
                        </a><br/><br/>
                    </li>
                    <li>
                        <strong>Contribute in code</strong><br/>
                        Send a PR on <a href="https://github.com/AeonPocket">Github.</a><br/><br/>
                    </li>
                    <li style="word-break: break-all;">
                        <strong>Make a donation</strong><br/>
                        AEON: WmtsJ7cC8UGAFNaSzg16bN73EaL5JRa46dYZJG77DVmGJEWyhebj8QQLsotcFMCHvHJM6ba4uKDEAEyrssNhfodY1LdbW17Yo
                    </li>
                </ol>
            </div>
        </md-card>
    </div>
    <div class="footer" layout="row">
        <div flex>&copy; AEON Pocket, 2017</div>
        <div>
            <a href="#!/terms">Terms of Service</a>
            <a href="#!/privacy">Privacy Policy</a>
        </div>
    </div>
</div>