:root {
    --placeholder-color: #E2E2E2;
}

body {
    background: linear-gradient(160deg, transparent 80vh, #F3F4F5 80vh, white 100vh), linear-gradient(to bottom, #F3F4F5 160px, white 50vh), #16444f;
}

.loginPage {
    background: url(../images/bg4.png);
}

form {
    margin: 0;
}

md-input-container {
    margin-bottom: 0;
}

p {
    margin: 0;
}

a {
    color: #16444f;
}

.text-center {
    text-align: center;
}

.md-button > .material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

/*********** LOGIN PAGE *************/
.loginBox {
    width: 500px;
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
}

.loginBox > .logo {
    width: 128px;
    height: 128px;
    color: #244356;
    margin: -104px auto 0 auto;
    border-radius: 50%;
    padding: 20px;
    background-color: rgba(243, 220, 179, 0.1);
}

.loginBox > button {
    margin: 0;
}

.logoIcon {
    color: #fff;
    margin: 10px;
}

md-toolbar {
    padding: 0 10px;
}

/* --------------------- wallet page --------------------- */

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

md-card > div {
    padding: 10px;
}

.header {
    border-bottom: 1px solid #ccc;
}

.header > strong {
    color: #666;
    text-transform: uppercase;
}

.standalone {
    font-weight: bold;
    font-size: 12px;
    color: #16444f;
}

.medium-icon {
    font-size: 36px;
    margin-right: 10px;
    color: #16444f;
}