:root {
    --placeholder-color: #E2E2E2;
}

body {
    background: linear-gradient(160deg, transparent 80vh, #F3F4F5 80vh, white 100vh), linear-gradient(to bottom, #F3F4F5 160px, white 50vh), #16444f;
}

pre {
    background-color: #f2f2f2;
    padding: 5px;
    max-height: 150px;
    overflow-y: auto;
}

md-dialog-content {
    word-break: break-all;
}

.loginPage {
    background: url(../images/bg4.png);
    overflow-y: auto;
}

.loginPage md-toolbar {
    background-color: transparent;
    padding: 0 10px;
}

.loginPage md-toolbar a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}

.loginPage md-toolbar a:hover {
    text-decoration: underline;
}

.loginPage .container {
    width: 900px;
    max-width: 90%;
    margin: 10px auto !important;
    display: block;
}

.loginPage .tnc {
    width: 1100px;
    max-width: 90%;
    margin: 10px auto !important;
    display: block;
    padding: 10px;
    text-align: justify;
}

.loginPage .container h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

.loginPage .container div {
    padding: 10px;
}

.supportIcon {
    width: 72px;
    height: 72px;
    margin: 5px 0 0 0 !important;
}

form {
    margin: 0;
}

md-input-container {
    margin-bottom: 0;
}

p {
    margin: 0;
}

a {
    color: #16444f;
}

.text-center {
    text-align: center;
}

.md-button > .material-icons {
    vertical-align: middle;
    margin-right: 10px;
}

.help-text {
    font-size: 11px;
    color: #727272;
}

/*********** LOGIN PAGE *************/
.loginBox {
    width: 500px;
    max-width: 90%;
    padding: 10px;
    margin: 0 auto;
}

.loginBox > .logo {
    width: 128px;
    height: 128px;
    color: #244356;
    margin: -104px auto 0 auto;
    border-radius: 50%;
    padding: 20px;
    background-color: rgba(243, 220, 179, 0.1);
}

.loginBox > button {
    margin: 0;
}

.logoIcon {
    color: #fff;
    margin: 10px;
}

md-toolbar {
    padding: 0 10px;
}

/*--------------------- Register Page -----------------------*/

.hero-button {
    color: #555 !important;
}

.hero-button:hover {
    background-color: #16444f !important;
    color: #fff !important;
}

.large-icon {
    font-size: 128px;
}

/* --------------------- wallet page --------------------- */

.container {
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
}

md-card > div {
    padding: 10px;
}

.header {
    border-bottom: 1px solid #ccc;
}

.header > strong {
    color: #666;
    text-transform: uppercase;
}

.standalone {
    font-weight: bold;
    font-size: 12px;
    color: #16444f;
}

.medium-icon {
    font-size: 36px;
    margin-right: 10px;
    color: #16444f;
}

.tx-icon {
    font-size: 35px;
    padding: 10px;
    margin-right: 10px;
    color: #777;
    border-radius: 50%;
    background-color: #eee;
}

.tx-list {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.tx-list:hover {
    background-color: #f2f2f2;
}

.incoming .amount {
    color: #03a678;
}

.outgoing .amount {
    color: #dd2c00;
}

.action-button {
    border-radius: 6px;
    width: 200px;
    border: 2px solid #5ebcd3;
    padding: 10px;
    color: #5ebcd3;
    display: inline-block;
    text-decoration: none;
    margin: 10px;
}

.action-button[disabled=false]:hover {
    color: #fff;
    background-color: #2c88a0;
    border-color: #2c88a0;
}

.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer a {
    color: #5ebcd3;
}

.footer a {
    color: #2c88a0;
}

.newSeed {
    white-space: normal;
    word-break: normal;
    max-width: 450px;
}

md-tabs md-ink-bar {
    color: #16444f;
    background-color: #16444f;
}