<md-toolbar class="md-whiteframe-1dp" layout="row" layout-align="start center">
    <md-button hide-gt-md class="md-icon-button" ng-click="toggleSideNav()">
        <i class="material-icons" style="vertical-align: middle; color: #fff;">menu</i>
    </md-button>
    <strong flex md-truncate>Home</strong>
    <div flex></div>
    <md-button ng-disabled="inProgress" class="md-icon-button" ng-click="refresh()">
        <i class="material-icons">refresh</i>
        <md-tooltip>Sync Wallet</md-tooltip>
    </md-button>
</md-toolbar>
<div flex layout="column" style="overflow-y: auto;">
    <md-card>
        <div class="header">
            <strong>Wallet Information</strong>
        </div>
        <div>
            <div layout="row">
                <div>
                    <i class="material-icons medium-icon">account_balance_wallet</i>
                </div>
                <div flex style="word-break: break-all;" layout-align="start center">
                    <label class="standalone">Address</label><br/>
                    {{wallet.address}}
                </div>
            </div>
            <br ng-if="!isViewOnlyWallet()" />
            <div ng-if="!isViewOnlyWallet()" layout="row">
                <div>
                    <i class="material-icons medium-icon">account_balance</i>
                </div>
                <div layout-align="start center">
                    <label class="standalone">Balance</label><br/>
                    {{wallet.balance.toFixed(12)}} <strong>AEON</strong><br/>
                    <span style="font-size: 11px; color: #777;">{{wallet.syncHeight}} / {{wallet.blockHeight}}</span>
                </div>
            </div>
            <br ng-if="!isViewOnlyWallet()" />
            <div ng-if="!isViewOnlyWallet()" layout="row" ng-if="exchange.USD && exchange.EUR">
                <div>
                    <i class="material-icons medium-icon">credit_card</i>
                </div>
                <div layout-align="start center">
                    <label class="standalone">Balance in Fiat Currency</label><br/>
                    {{(wallet.balance.toFixed(12)*exchange.USD).toFixed(2)}} <strong>USD</strong> /
                    {{(wallet.balance.toFixed(12)*exchange.EUR).toFixed(2)}} <strong>EUR</strong>
                    <span style="font-size: 11px; color: #777;">
                        ( {{exchange.USD}} <strong>USD/AEON</strong> |
                        {{exchange.EUR}} <strong>EUR/AEON</strong> )
                    </span>
                    <br/>
                    <span style="font-size: 11px; color: #777;">
                        powered by
                        <strong><a href="https://www.cryptonator.com" target="_blank">Cryptonator</a></strong>
                    </span>
                </div>
            </div>
        </div>
    </md-card>
    <md-card flex>
        <div class="header">
            <strong>Transactions</strong>
        </div>
        <div flex layout="column" style="padding: 0;">
            <div ng-if="errorMessage" flex layout="column" layout-align="center center">
                <p style="color: #555; text-transform: uppercase;">{{errorMessage}}</p>
            </div>
            <div>

            </div>
            <md-virtual-repeat-container flex>
                <div class="tx-list" ng-class="transaction.spent?'outgoing':'incoming'" md-item-size="76" md-virtual-repeat="transaction in transactions" layout="row">
                    <div>
                        <i class="material-icons tx-icon" ng-if="!transaction.spent">file_download</i>
                        <i class="material-icons tx-icon" ng-if="transaction.spent">file_upload</i>
                    </div>
                    <div flex>
                        <p md-truncate style="font-weight: bold;">
                            <a target="_blank" href="https://chainradar.com/aeon/transaction/{{transaction.tx_hash.substring(1, transaction.tx_hash.length -1)}}">{{transaction.tx_hash.substring(1, transaction.tx_hash.length -1)}}</a>
                        </p>
                        <p class="amount">{{transaction.amount.toFixed(12)}} <strong>AEON</strong></p>
                        <p>{{transaction.global_index}}</p>
                    </div>
                </div>
            </md-virtual-repeat-container>
        </div>
    </md-card>
</div>