<md-toolbar class="md-whiteframe-1dp" layout="row" layout-align="start center">
    <md-button hide-gt-md class="md-icon-button" ng-click="toggleSideNav()">
        <i class="material-icons" style="vertical-align: middle; color: #fff;">menu</i>
    </md-button>
    <strong flex md-truncate>Send AEON</strong>
    <div flex></div>
</md-toolbar>
<div flex layout="column">
    <md-card>
        <div class="header">
            <strong>Send Aeons</strong>
        </div>
        <div>

        </div>
    </md-card>
</div>